<a href="https://colab.research.google.com/github/SaiBhargavShivampeta/DNA-Forensics/blob/main/DNA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/DNA.csv")

In [ ]:
df.head()

   name   AGATG  AATG  TAT
0  Casey      5     2    8
1  Amani      3     7    4
2  Blair      6     1    5

In [ ]:
s = input()

DFKJAATGAATGAATGAATGAATGAATGAATGTONEWORIGJ9JTATTATTATTATNJNAGATGAGATGAGATGJO

In [ ]:
lst=list(df.columns)[1:]

# initialize dictionary to store counts
d = {elem: 0 for elem in lst}

max_count = 0  # keep track of longest consecutive substring length
count = 0  # keep track of current consecutive substring length

i = 0
while i < len(s):
    found_match = False
    for j in lst:
        if s[i:].startswith(j):
            found_match = True
            count += 1
            i += len(j)
            break
    if not found_match:
        max_count = max(max_count, count)
        count = 0
        i += 1

for j in lst:
    for k in range(max_count):
        st = j * (k+1)
        if st in s:
            d[j] = k+1

print("Counts of each element in the longest sequence:",d)

matches = df[(df['AGATG'] == d['AGATG']) &
             (df['AATG'] == d['AATG']) &
             (df['TAT'] == d['TAT'])]

if len(matches) == 0:
    result = 'No Match'
elif len(matches) == 1:
    result = df.iat[matches.index[0], 0]
else:
    result = 'No Match'

print(result)

Counts of each element in the longest sequence: {'AGATG': 3, 'AATG': 7, 'TAT': 4}
Amani